.AdminList{
    margin:auto;
    height:50px;
    background-color: lightcoral;
    font-size: 20px;
    display: flex;
    width:800px;}
.AdminListResult{
    margin:auto;
        height:50px;
        background-color: lightblue;
        font-size: 20px;
        display: flex;
        width:800px;}
.UserList{
    margin:auto;
    height:50px;
    background-color: lightcoral;
    font-size: 20px;
    display: flex;
    width:800px;
}
.UserListResult{
    margin:auto;
    height:50px;
    background-color: lightblue;
    font-size: 20px;
    display: flex;
    width:800px;}

.newAccountInput{width:200px}