@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.DashBoardInput {
  margin-bottom: 30px;
  .DashBoardInputTime {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .DashBoardInputColor{
    margin-bottom: 10px;
  }
 
}
.ggg{ 
  .fc-view-container{
  background-color: white !important;
}
.fc-view fc-dayGridMonth-view fc-dayGrid-view{
  background-color: white !important;
}}
