@import "../../node_modules/antd/dist/antd.css";
.Index {
  height: 800px;
  width: 1350px;
  // background-image: url("../Public//insight.jpg");
  // background-repeat: no-repeat;
  .IndexTop {
    display: flex;
    height: 70px;
    img {
      height: 60px;
      margin-top: 5px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .service {
    display: flex;
    justify-content: center;
    .Hr_service:hover {
      -webkit-filter: grayscale(0%);
      opacity: 0.8;
      transition: 1s;
      animation-play-state: running;
      .button {
        display: block;
      }
    }
    .Hr_service {
      -webkit-filter: grayscale(100%);
      border-right: solid;
      background-image: url("../Public/index_HR.png");
      animation: HRPlay 5s steps(183) infinite;
      @keyframes HRPlay {
        100% {
          background-position: -113460px;
        }
      }
      animation-play-state: paused;
      // margin-left: 10px;
      width: 620px;
      height: 500px;
      opacity: 1;
      .button {
        display: none;
        margin: auto;
      }
    }
    .Staff_service:hover {
      -webkit-filter: grayscale(0%);
      opacity: 0.8;
      transition: 1s;
      animation-play-state: running;
      .button {
        display: block;
        margin: auto;
      }
    }
    .Staff_service {
      -webkit-filter: grayscale(100%);
      background-image: url("../Public/index_staff.png");
      margin-right: 20p;
      animation: staffPlay 4s steps(109) infinite;
      @keyframes staffPlay {
        100% {
          background-position: -67580px;
        }
      }
      animation-play-state: paused;
      // margin-right: 10px;
      width: 620px;
      height: 500px;
      opacity: 1;
      .button {
        display: none;
      }
    }
  }
  
  .foot {
    p {
      text-align: center;
    }
  }
}
.modal_Form {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  .modal_Email {
    margin-bottom: 10px;
    span{
      margin-right: 20px;
    }
  }
  .modal_Password{
    span{
      margin-right: 45px;
    }
  }
}
