.signIn{
  flex-direction: column;
    display:flex;
    height:800px;
    .home{
        float: right;
    }
    .Icon{
      margin-top: 220px;
      text-align: center;
      img {
      height: 60px;
    }span{font-size: 35px;}
    }
}
.alertBar{width:300px;
  // right:50%;
  position: absolute !important;
}
.login-form {
    max-width: 300px;
    margin:auto !important;
    margin-top:0px !important;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
